.App {
  width: 60%;
  margin: 2rem auto;
}

.card {
  background: #f7f7f7;
  padding: 2rem;
  margin: 1rem auto;
}
.card h1 {
  font-size: 50px;
}
.info-title  h2 {
  font-weight: 600;
  font-size: 40px;
}
.info a {
  text-decoration: none;
}